﻿@model WebShopMobile_core.Models.Carts

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Carts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer1.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer1.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voucher.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voucher.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statuss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statuss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment)         
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
