﻿<ul class="sidebar-menu" data-widget="tree">
    <li class="header">LAOYOUT ADMIN</li>

    <li>
        <a href="@Url.Action("Index", "Product_category")">
            <i class="fa fa-th"></i> <span>Danh mục sản phẩm</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "colors")">
            <i class="fa fa-th"></i> <span>Quản lý Màu sắc</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Products")">
            <i class="fa fa-th"></i> <span>Quản lý sản phẩm</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Carts1")">
            <i class="fa fa-th"></i> <span>Quản lý đơn hàng</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "blog")">
            <i class="fa fa-th"></i> <span>Quản lý tin tức</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Advantisments")">
            <i class="fa fa-th"></i> <span>Quản lý Quảng cáo</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Customer")">
            <i class="fa fa-th"></i> <span>Quản lý Tài khoản Khách hàng</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Reports")">
            <i class="fa fa-th"></i> <span>Thống kê</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Admins")">
            <i class="fa fa-th"></i> <span>Tài khoản Admin</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Role")">
            <i class="fa fa-th"></i> <span>Quyền</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "GroupAdmin")">
            <i class="fa fa-th"></i> <span>Nhóm quyền</span>
        </a>
    </li>

</ul>
